.selectChat {
  width: 100%;
  align-self: center;
}

.PreloaderChatMessages {
  align-items: center;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

.wrapLoaderAndText {
  margin-right: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloaderHeader {
  margin-right: 10px;
  align-items: center;
  animation: loaderHeader 1s infinite;
  font-size: 24px;
  height: 30px;
  line-height: 30px;
}

.autorenewPreloaderHeader {
  margin-top: 3px;
}

.headLoaderText {
  font-size: 18px;
  font-weight: 500;
  padding: 0 5px;
}

@keyframes loaderHeader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.messages {
  flex: 3;
  position: relative;
}

.SearchAndInput {
  width: 160px;
  height: 28px;
  align-items: center;
  display: flex;
}

.InputHeaderMessages input {
  padding-left: 5px;
  height: 28px;
  font-size: 14px;
  color: silver;
  border: none;
  outline: none;
  line-height: 28px;
  width: 120px;
}

.iconSearchMessages {
  cursor: pointer;
  color: silver;
  font-size: 22px;
}

.AiOutlineSearch {
  margin-top: 3px;
}

.clear {
  cursor: pointer;
  font-size: 22px;
}

.clear .clearSearch {
  margin-top: 4px;
  color: silver;
}

.settingsHeaderMessages {
  cursor: pointer;
  text-align: right;
}
.settingsHeaderMessages:active {
  color: white;
}

.settingsHeaderMessages .openProfile {
  text-align: right;
  margin-top: 5px;
  font-size: 22px;
  color: silver;
}
.openProfile:active {
  color: black;
}

.headerName {
  font-size: 20px;
  font-weight: 500;
}

.headerNameAndOnline {
  margin-right: 110px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.messagesHeaderOnline {
  font-size: 10px;
  margin-left: 10px;
  color: #00ff35;
}

.headerMessages {
  margin: auto;
  width: 96.6%;
  box-shadow: 0 0 10px 0 rgb(210, 209, 209);
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-top: none;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 10px 10px;
}

.messagesBody {
  height: 86vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.messagesBody::-webkit-scrollbar {
  width: 0;
}
