.imageBlock {
  position: relative;
}

.online {
  font-size: 7px;
  color: #00ff35;
  position: absolute;
  top: 5px;
  right: 4px;
}

.small {
  margin: auto;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 14px;
  color: #ffffff;
  border-radius: 50%;
  position: relative;
  top: 22px;
  right: 6px;
  background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);}
.medium {
  width: 60px;
  height: 60px;
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
}
.large {
  margin: auto;
  height: 90px;
  width: 90px;
  text-align: center;
  line-height: 90px;
  font-size: 30px;
  margin-bottom: 30px;
  color: #f7f8f9;
  border-radius: 50%;
  background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);}
