.inbox {
  margin: 10px 10px;
  display: flex;
  align-self: flex-start;
  max-width: 70%;
}

.inboxMessage {
  word-wrap: break-word;
  word-break: break-word;
  align-self: flex-start;
  background-color: #f7f8f9;
  border-radius: 15px 15px 15px 0;
  padding: 15px 15px 5px 15px;
  font-size: 0.95em;
  font-weight: 600;
}

.content {
  font-family: 'Roboto', sans-serif;
}

.date {
  margin: 3px 5px 0 0;
  font-size: 0.65em;
  font-weight: 600;
  text-align: right;
}

.outBox {
  align-self: flex-end;
  max-width: 70%;
}

.outBoxMessage {
  word-wrap: break-word;
  word-break: break-word;
  color: white;
  background-color: #633df8;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);
  margin: 10px 10px;
  border-radius: 15px 15px 0 15px;
  padding: 15px 15px 0 15px;
  font-size: 0.95em;
}

.dateCheck {
  display: flex;
  justify-content: right;
  margin-left: 120px;
}
