.chats {
  background: #f3f2f2;
  min-width: 24vw;
  height: 100vh;
  overflow: scroll;
  border-right: 1px solid #b6b6b6;
}

.chats::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.inputBlock {
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: inherit;
}

.search {
  background-color: white;
  color: silver;
  width: 90%;
  padding: 10px;
  margin: 20px auto 40px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  justify-content: space-between;
}

.search input {
  border: none;
  outline: none;
  font-size: 17px;
  max-width: 85%;
  flex: 1;
}

.contact {
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  padding: 0 10px 0 10px;
  transition: 0.2s;
  display: flex;
  align-items: center;
  position: relative;
}


.contact:hover {
  background-color: rgba(210, 210, 210, 0.4);
  transition: 0.2s;
}


.fullName {
  font-size: 18px;
  align-items: center;
  font-weight: 600;
}

.link {
  text-decoration: none;
  color: black;
}

.contentBlock {
  margin-left: 14px;
  display: flex;
  align-items: center;
  width: 85%;
  justify-content: space-between;
}

.lastMessage {
  font-size: 13px;
  opacity: .8;
}


.time {
  font-size: 13px;
  justify-content: end;
}

.deleteSearch {
  cursor: pointer;
  align-items: center;
  display: flex;
  font-size: 20px;
}

.contactActive {
  background-color: rgba(41, 123, 255, 0.8);
  color: #fff;
  transition: 0.2s;
}

.contactActive:hover {
  background-color: rgba(41, 123, 255, 0.8);
}